.trainingCerti {
    text-align: center;
    padding: 0.3rem 0rem;
    font-size:  1rem;
    background-image: url('../../../assets/lastMage.jpg');
}

.items img {
    border-radius: 0.3rem;
    cursor: pointer;
    padding: 0.8rem;
    background-color: rgba(169, 169, 169, 0.407);
    width: 216px;
    height: 178px;
    object-fit: cover;
    background-size: cover;
}

.training {
    border: 1px solid rgba(169, 169, 169, 0.812);
    padding: 1.1rem;
    margin-bottom: 1.1rem;
    background-color: rgba(169, 169, 169, 0.536);
    border-radius: 5px;
}

.items {
    background-color: rgba(169, 169, 169, 0.427);
}


@media screen and (min-width: 1000px){
   .items img {
    width: 340px;
    height: 240px;
    text-align: right;
   }
}




