.resumeIntro {
    padding: 1rem 2rem;
    text-align: center;
    background-image: url('../../assets/lastMage.jpg');
    
}


#summary {
    padding: 0.5rem 0.7rem;
    font-size: 1rem;
    color: black;
    font-style: normal;
    width: 80%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    border-style: none;
    border-radius: 5px;
    line-height: 1.8;
    resize: none;
    background: rgba(169, 169, 169, 0.799);
}

#summary:focus {
    outline: none;
  }

.introduction{
    background-color: rgba(169, 169, 169, 0.901);
}

.divBody {
    padding: 1rem 1rem;
    border-radius: 6px;
}
